
.logo {
    width: 100%;
}

.map {
  background-color: #E4D9C3;
  padding: 150px;
}

.title {
  
  background-color: #46302D;
  color: white;
}

header {
  padding: 10px;
}

.list {
  /*border: 1px solid black;*/
  margin-top: 10px;
}

.content {
  border: 1px solid #46302D;
}